# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# Compiled binary addons
build/Release

# Build output
dist/
build/
.next/
.nuxt/
out/

# Coverage
coverage/
*.lcov
.nyc_output

# Caches and temp files
.cache/
.parcel-cache/
.temp/
.vitepress/cache
.vitepress/dist
.rpt2_cache/
.rts2_cache_*/
.fusebox/
.docusaurus/
.serverless/
.dynamodb/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Tooling
.npm/
.yarn/
.pnp.*
.yarn-integrity
.eslintcache
.stylelintcache

# VS Code
.vscode-test
.tern-port

# Output of `npm pack`
*.tgz

# macOS
.DS_Store

# Optional IDE files
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace

# Comment this in if you're using Gatsby
# public/
